{% extends 'layout/manage.html' %}

{% block title %}支付提醒{% endblock %}

{% block css %}
    <style>
        .no-radius {
            border-radius: 0;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        {% if error %}
            <div class="alert alert-danger no-radius">
                <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error }}</h4>
            </div>
        {% else %}
            <div class="alert alert-success no-radius">
                <h4><i class="fa fa-check-circle" aria-hidden="true"></i> {{ pay_info }} </h4>
                <a href="{% url 'login' %}">点击跳转至登录页面</a>
            </div>
        {% endif %}

    </div>

{% endblock %}