{% extends 'layout/manage.html' %}
{% load static %}

{% block css %}
    <style>
        .choose {
            border-left: 2px solid #f90 !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container clearfix" style="margin-top: 20px;">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:transparent;font-weight: bold;">
                    个人中心
                </div>
                <div class="list-group" style="border-radius: 0">
                    <div>
                        <a href="#" class="list-group-item">我的资料</a>
                        <a href="{% url 'modify_password' project_id=request.redmine.project.id %}"
                           class="list-group-item">修改密码</a>
                        <a href="{% url 'setting_delete'  project_id=request.redmine.project.id %}"
                           class="list-group-item choose">删除项目</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-pencil" aria-hidden="true"></i> 修改密码</div>
                <div class="panel-body">

                    <form class="form-horizontal" id="ModifyPasswordForm" method="POST" novalidate>
                        {% csrf_token %}
                        {% for item in form %}
                            <div class="form-group">
                                <label for="{{ item.id_for_label }}"
                                       class="col-sm-2 control-label">{{ item.label }}</label>
                                <div class="col-sm-5">
                                    {{ item }}
                                    <span class="error-msg">{{ item.errors.0 }}</span>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <input type="button" class="btn btn-primary" id="btnModify" value="提 交">
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'plugins/carhartl-jquery-cookie-92b7715/jquery.cookie.js' %}"></script>
    <script type="text/javascript">
        // 页面框架加载完成之后自动执行函数
        $(function () {
            // 绑定修改密码按钮事件
            bindModifyPassword();
        })

        /*
        点击注册按钮的绑定事件
         */
        function bindModifyPassword() {
            $("#btnModify").click(function () {
                // 将所有错误信息清空
                $(".error-msg").empty()
                $.ajax({
                    url: "{% url 'modify_password' project_id=request.redmine.project.id %}",
                    type: "post",
                    {#引入jquery_cookie.js后在加入下面一句就可以避免csrf_token的影响#}
                    headers: {"X-CSRFToken": $.cookie('csrftoken')},
                    data: $("#ModifyPasswordForm").serialize(),    // 将用户在表单的input框输入的所有数据传输给后端request.POST
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            location.href = res.data; // 跳转到res.data指定的/login/地址
                        } else {
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0])
                            })
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}